.required > label:first-child::after{
  color: red;
  content:"*"
}

div.ios::before{
  content: "iOS Only ";
  color: gray;
}

div.android::before{
  content: "Android Only ";
  color: gray;
}


.question > label:first-child{
  font-weight: bold;
}


html{
  font-family: sans-serif;
}

div{
  padding: 5px;
}

.hidden{
  display: none;
}


